@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/figtree";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}